/* Style overrides for code mirror in XB. */

.xb-code-mirror-editor {
  padding-bottom: var(--space-2);
  font-size: var(--font-size-1);
}

.xb-code-mirror-editor .cm-gutters {
  background-color: var(--slate-2);
}
