.ct-starshot-slide-card {
  max-width: 437px;
  width: 90%;
  margin: 0 auto;
  padding-left: 18px;

  @include ct-breakpoint(m) {
    max-width: 100%;
    width: calc(100% - 48px);
    margin: 0 24px;
    padding-left: 0;
  }

  @include ct-breakpoint(xl) {
    width: calc(100% - 92px);
    margin: 0 46px;
  }

  &__link {
    @include ct-typography('starshot-feature-cards-card-title');

    color: ct-color-light('body-4');
    display: block;
    text-align: center;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration-line: underline;
    }
  }

  &__image {
    width: 100%;
  }

  &__inner {
    background-color: ct-color-light('background-7');
    overflow: hidden;
    position: relative;
    display: flex;
    transition: 0.3s box-shadow;
    box-shadow: 0 0 0 rgba(18, 40, 95, 0%);
    border-radius: 36px;
    margin-bottom: 23px;
    padding-top: 62px;

    @include ct-breakpoint(l) {
      border-radius: 36px;
      margin-bottom: 23px;
      padding-top: 62px;
      box-shadow: 0 0 0 rgba(18, 40, 95, 0%);
    }

    @include ct-breakpoint(xxl) {
      border-radius: 72px;
      margin-bottom: 46px;
      padding-top: 123px;
    }

    svg {
      position: absolute;
      top: 22px;
      left: 26px;
      max-height: 25px;
      width: auto;

      @include ct-breakpoint(l) {
        max-height: 25px;
        top: 22px;
        left: 26px;
      }

      @include ct-breakpoint(xxl) {
        max-height: unset;
        top: 45px;
        left: 52px;
      }
    }
  }
}
