{#
/**
 * @file
 * Starshot banner component.
 *
 * Variables:
 * - theme: [string] Theme: light, dark.
 * - title: [string] Title.
 * - content: [string] Content slot.
 * - featured_image: [object] Featured image object:
 *   - url: [string] Source.
 *   - alt: [string] Alt text.
 * - modifier_class: [string] Additional classes.
 * - attributes: [string] Banner attributes.
 */
#}

{% set theme_class = 'ct-theme-%s'|format(theme|default('light')) %}
{% set modifier_class = '%s %s'|format(theme_class, modifier_class|default('')) %}

{% if title is not empty or content is not empty %}
  <div class="ct-old-starshot-banner {{ modifier_class -}}" {% if attributes is not empty %}{{- attributes|raw -}}{% endif %}>
    <div class="ct-old-starshot-banner__wrapper">
      <div class="ct-old-starshot-banner__inner">
        <div class="container">
          <div class="row">
            <div class="{% if featured_image is not empty %}col-xxs-12 col-l-6 col-xxl-5{% else %}col-xxs-12{% endif %}">
              {% if title is not empty %}
                {%- block title %}
                  {% include '@atoms/heading/heading.twig' with {
                    theme: theme,
                    content: title,
                    level: 1,
                    modifier_class: 'ct-old-starshot-banner__title ct-heading-drupal-7',
                  } only %}
                {% endblock -%}
              {% endif %}
              <div class="ct-old-starshot-banner__content">
                {%- block content %}
                  {{- content|raw -}}
                {% endblock -%}
              </div>
            </div>
          </div>
        </div>

        {% block featured_image %}
          {% if featured_image is not empty %}
            <div class="ct-old-starshot-banner__featured-image__wrapper">
              {% include '@atoms/image/image.twig' with {
                theme: theme,
                url: featured_image.src,
                alt: featured_image.alt,
                modifier_class: 'ct-old-starshot-banner__featured-image',
              } only %}
            </div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endif %}
